.root {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em auto;

    .spinning {
        font-size: 30px;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}